<div id="container">
  <h1>
    {{ title }}
  </h1>
  <div id="searchContainer">
    <input id="userInput" type="text" #users (keyup.enter)="search(users.value)" />
  </div>
  <div *ngIf="isError" class="error">There was an error!</div>
  <div *ngIf="showRepos">
    <ul *ngIf="gitUsers">
      <li *ngFor="let user of gitUsers.items">
        <span (click)="getRepos(user.login)" id="users">
          <img class="thumb" src="{{user.avatar_url}}">{{ user.login }}
        </span>
      </li>
    </ul>
  </div>
  <div *ngIf="!showRepos" class="row">
    <div class="column left">
      <a href="{{userUrl}}" target="_blank">
        <img src="{{avatar}}" id="avatar">
        <div id="userLogin">{{user.login}}</div>
      </a>
    </div>
    <div class="column right">
      <h2>Repositories</h2>
      <ul>
        <li *ngFor="let repo of gitRepos">
          <a href="{{repo.html_url}}" target="_blank">{{ repo.name }}</a>
        </li>
      </ul>
      <h2 *ngIf="!noGists">Gists</h2>
      <ul>
        <li *ngFor="let gist of gitGists">
          <a href="https://gist.github.com/{{gist.owner.login}}/{{gist.id}}" target="_blank">{{ gist.description }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>